.contactus_parent_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  height: 50vh;
}
.contactus_parent_grid h2 {
  display: none;
}
.contactus_parent_grid {
  font-size: calc(2vh + 6px);
}

.contactus_div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.contactus_div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.contactus_div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.contactus_div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.contactus_parent {
  font-family: "Gideon Roman", cursive;
  font-size: calc(5px + 1.5vh);
  max-width: 1200px;
  width: 80%;
  margin: 10px auto;
  background-color: rgb(51, 51, 51, 0.3);
  /*background-color: rgb(82, 67, 50);*/
  border-radius: 16px;
  border-style: solid;
  border-width: 0.1px;
  border-color: rgb(248, 234, 217);
  padding: 10px 20px;
  backdrop-filter: 3px;
}
.contactus_info {
  align-items: space-between;
  margin: 2vh;
  width: 100%;
  align-self: center;
}

.contactus_parent h2 {
  font-family: "Alegreya Sans SC", sans-serif;
}

.contact_logo img {
  margin: auto;
  width: 20vw;
  max-width: 250px;
  min-width: 150px;
}

.social-menu ul {
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li a {
  position: relative;
  display: block;
  min-width: 25px;
  min-height: 25px;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li:nth-child(1) a img {
  width: 55%;
  padding-top: 20%;
}
.social-menu ul li:nth-child(2) a img {
  width: 55%;
  padding-top: 18%;
}
.social-menu ul li:nth-child(3) a img {
  width: 65%;
  padding-top: 20%;
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  /*background-color: ;*/
  background: url("../images/ig_background.jpg") no-repeat center center fixed
    #e4405f;
  background-size: 100% 100%;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #0e76a8;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}
.contactus_info p a{
  text-decoration: none;
  color:black;
}

@media screen and (min-width: 700px) {
  /*for large screen*/
  .contactus_parent_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:80vh;
  }

  .contactus_div1 {
    grid-area: 1 / 1 / 2 / 2;
    border-right: solid 2px rgb(240, 239, 239);
  }
  .contactus_div2 {
    grid-area: 1 / 2 / 2 / 5;
  }
  .contactus_div3 {
    grid-area: 2 / 1 / 3 / 3;
    border-right: solid 2px rgb(235, 233, 232);
    border-top: solid 2px rgb(235, 233, 232);
  }
  .contactus_div4 {
    grid-area: 2 / 3 / 3 / 5;
    border-top: solid 2px rgb(235, 233, 232);
  }
  
  .contactus_parent_grid h2 {
    display: inline-block;
  }
}


@media screen and (max-width: 500px){
  /*for phone screen*/
  .contactus_parent_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    height: 75vh;
    }
    
    .contactus_div1 { grid-area: 1 / 1 / 2 / 2; }
    .contactus_div2 { grid-area: 2 / 1 / 3 / 2; }
    .contactus_div3 { grid-area: 3 / 1 / 4 / 2; }
    .contactus_div4 { grid-area: 4 / 1 / 5 / 2; }

    .social-menu ul li {
      margin: 0 5px;
    }

}
