.domain_block{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 100vh;
}

.domain{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    margin: 2vw;
    width: 75%;
    max-height: 400px;
    /* height: 15vw; */
}

.domain_img {
    max-width: 70%;
    max-height: 85%;
}

.domain_img img{
    /* border-radius: 50px; */
    height: 25vw;
    max-width: 100%;
    max-height: 320px;
}

.domain_text {
    color: black;
    word-wrap: normal;
    margin-right: 5%;
    text-align: center;
    max-width: 40%;
    transition: 0.5s;
}

.domain_text:hover{
    transform: scale(1.1);
}

.domain_text h1{
    margin: 1px;
    font-weight: bold;
    font-size: calc(20px + 1.5vw);
}

.domain_text p{
    margin: 20px;
    font-size: calc(0.5px + 1.5vw);
    text-transform: initial;
}


.domain_comp .comp p{
    margin: 7px;
    font-size: calc(2px + 1.5vw)
}

.domain_comp {
    align-items: center;
    text-align: left;
    width: fit-content;
    margin: auto;
}

.comp {
    display: flex;
    align-items: center;
    gap: 1vw;
}


/* .domain_text a{
    font-size: large;
    transform: scale(2);
    text-decoration: none;
    background-color: rgb(91, 215, 231);
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.5s;
} */

/* .domain_text a:hover{
    letter-spacing: 4px;
} */


@media screen and (max-width: 700px) {
    .domain{
        flex-direction: column;
        max-height: 600px;
        width: 80%;
        background-color: rgba(28, 27, 27, 0.05);
        border-radius: 5px;
    }

    .domain_text {
        margin-right: 0%;
        margin-bottom: 2%;
        max-width: 80%;
        /* max-height: 30%; */
    }

    .domain_img {
        /* min-height: 500px; */
        padding: 1vw;
        height: 50vw;
        max-width: 70%;
        /* max-height: 85%; */
    }
    
    .domain_img img{
        height: 80%;
    }
    
    .domain_text h1{
        font-size: calc(15px + 1.5vw);
    }
    
    .domain_text p{
        font-size: calc(10px + 1.5vw);
    }
}
