.made-with-love {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  left: 0;
  height: 30px;
  width: 98%;
  bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 20px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #41599A;
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #41599A;
  margin-top: 10px;
}
.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.icon {
  margin-right: 20px;
  color: "white";
}

.instagram:hover {
  color: #fbad50;
}
.youtube:hover {
  color: #ff0000;
}
.linkedin:hover {
  color: #0077b5;
}
.twitter:hover {
  color: #1da1f2;
}
.github:hover {
  color: #6e5494;
}

@media only screen and (max-width: 568px) {
  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }
}
