.navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}


.navbar-name {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.25rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  /*margin-right: 2rem;*/
}

.nav-item {
  display: flex;
  align-items: center;
  height: 70px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #2f3241;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}
.menu-icon {
  display: none;
}

.hide-on-mobile{
  display:flex;
}


.show-on-mobile{
  display:none;
}

@media screen and (max-width: 960px) {
  .navbar{
    display: none;
  }
}