@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

.sponsorship_tiers_back {
  height: 38vh;
  width: 100em;
  bottom: 0vh;
  background-color: aqua;
  position: fixed;
  z-index: -1;
}

.sponsorship-tiers {
  color: #fff;
  font-family: "Nunito Semibold";
  text-align: center;
}

.sponsorship_tiers_heading,
.sponsorship_tiers_description {
  color: black;
  text-align: center;
  padding: 20px;
}
.sponsorship_tiers_heading {
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sponsorship-tier-number {
  display: none;
}
@media screen and (max-width: 760px) {
  #sponsorship-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    align-items: stretch;
    row-gap: 5px;
    grid-gap: 5px;
    grid-template-areas:
      "text1 text1 text1"
      "text2 text2 text2"
      "text3 text3 text3";
  }
  .sponsorship-tier-number {
    display: inline-block;
    font-family: "Vast Shadow", cursive;
    font-size: calc(2vh + 20px);
  }
  #sponsorship-container div {
    background: black;
  }
  .text1 {
    grid-area: text1;
    padding: 30px;
  }
  .image1 {
    grid-area: image1;
    display: none;
  }
  .text2 {
    grid-area: text2;
    padding: 30px;
  }
  .text3 {
    grid-area: text3;
    padding: 30px;
  }
  .image2 {
    grid-area: image2;
    display: none;
  }
  .image3 {
    grid-area: image3;
    display: none;
  }
  .extra1,
  .extra2 {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .back {
    height: calc(400px + 3vw);
    width: 98%;
    top: calc(85vh - 5.7vw);
    background-color: aqua;
    position: fixed;
    z-index: -1;
    justify-content: center;
    align-items: center;
  }

  #sponsorship-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 200px);
    margin: 0 auto;
    align-items: stretch;
    /* grid-gap: 5px; */
    z-index: 2;
  }
  #sponsorship-container div {
    background: black;
  }
  #sponsorship-container div:nth-child(even) {
    background-color: transparent;
  }
  .extra1 {
    grid-row: 1/2;
    grid-column: 1/9;
    background-color: black;
  }
  .text1 {
    grid-column: 1/8;
    grid-row: 2/3;
    padding: 30px;
  }
  .image1 {
    grid-column: 8/9;
    grid-row: 2/3;
  }
  .text2 {
    grid-column: 2/9;
    grid-row: 3/4;
    padding: 30px;
  }
  .text3 {
    grid-column: 1/8;
    grid-row: 4/5;
    padding: 30px;
  }
  .image2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .image3 {
    grid-column: 8/9;
    grid-row: 4/5;
  }

  .extra2 {
    height: 10vh;
    background: linear-gradient(to bottom, black, rgb(26, 23, 23));
  }
}
