.videohead video {
position: absolute;
top: 10vh;
right: 0;
bottom: 0;
left: 0;
height: 100%;
width: 100%;
}

.scroll_image{
    position: absolute;
    left: 45vw;
    top: 80vh;
    display: none;
}

.scroll_image img{
    width: 7vw;
    height: auto;
}